<template>
    <li class="uk-nav-header">
        ${data.folder.name}
    </li>
    <li>
        <a href="#toggle-animation" uk-toggle="target: #toggle-animation; animation: uk-animation-fade">
            <span uk-icon="cog"></span> Languages settings
        </a>
        <div id="toggle-animation" class="uk-card uk-card-primary uk-card-small uk-card-body uk-margin-small" hidden>
            <div uk-grid class="uk-grid-small uk-child-width-1-1">
                <div repeat.for="language of data.languages">

                    <div uk-grid>
                        <div class="uk-width-expand">
                            ${language}
                        </div>
                        <div class="uk-width-auto">
                            <ul class="uk-iconnav">
                                <li>
                                    <a click.delegate="editLanguage(language)" uk-icon="file-edit"
                                        uk-tooltip="Edit language code."></a>
                                </li>
                                <li>
                                    <a click.delegate="removeLanguage(language)" uk-icon="minus-circle"
                                        uk-tooltip="Remove language."></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-text-center">
                    <a click.delegate="addLanguage()" class="uk-button uk-button-default">
                        <span class="uk-margin-small-right" uk-icon="plus"></span> Add language
                    </a>
                </div>
            </div>
        </div>
    </li>
    <li class="uk-nav-divider"></li>
</template>