<template>
    <button click.delegate="addFolder()" uk-icon="plus-circle" uk-tooltip="Add folder."></button>
    <button click.delegate="removeFolder()" uk-icon="minus-circle" uk-tooltip="Remove folder."></button>
</template>
