<template>

    <!-- <require from="./breadcrumb.element.html"></require> -->
    <require from="./sort.converter"></require>

    <div uk-grid class="uk-grid-small uk-padding-small">
        <!-- <div class="uk-width-1-1">
            <breadcrumb path.to-view="['Common', 'Constants', 'Languages']"></breadcrumb>
        </div> -->
        <div if.bind="namespace" class="uk-width-1-1">

            <h3>
                ${namespace.name}
            </h3>

            <form if.bind="namespace.type === 0" class="uk-form-stacked">

                <div class="uk-margin" repeat.for="[language, value] of namespace.languages | sort">
                    <label class="uk-form-label uk-text-uppercase" for="form-stacked-text">
                        ${language}
                    </label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="${key}"
                            value.bind="value.value">
                    </div>
                </div>

            </form>
            <div else>

                <table class="uk-table uk-table-justify uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-width-small"></th>
                            <th>Key</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="[name, child] of namespace.children">
                            <td>
                                <span if.bind="child.type > 0" uk-icon="file-text" uk-tooltip="Namespace"></span>
                            </td>
                            <td>${name}</td>
                            <td>
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="copy"></a>
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"></a>
                                <a href="#" class="uk-icon-link" uk-icon="trash"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div else class="uk-width-1-1">
            <div class="uk-placeholder uk-text-center">
                <span uk-icon="arrow-left"></span>
                Select translation from explorer.
            </div>
        </div>
    </div>

</template>