<template bindable="path">

    <ul class="uk-breadcrumb">
        <li repeat.for="item of path">
            <a if.bind="!$last" href="">${item}</a>
            <span else>${item}</span>
        </li>
    </ul>

</template>