<template>
    <require from="./controls/controls.element"></require>
    <require from="./controls/folder-control.element"></require>
    <require from="./folders.element"></require>
    <require from="./explorer.css"></require>

    <ul class="uk-nav-default" uk-nav="multiple: true">
        <controls data.bind="data"></controls>
        <folders
            if.bind="data.folder.folders.length > 0"
            data.bind="data"
            folders.bind="data.folder.folders"
            selected-namespace.two-way="selectedNamespace"
        ></folders>
        <folder-control data.bind="data" item.bind="data.folder"></folder-control>
    </ul>
</template>
