<template>

    <require from="./controls/badges.element"></require>
    <require from="./controls/item-control.element"></require>
    <require from="./namespaces.element"></require>

    <li repeat.for="folder of folders" class="uk-parent">
        <a>
            <div class="uk-flex">
                <span uk-icon="folder"></span> ${folder.name}
                <div class="margin-left-auto">
                    <item-control data.bind="data" item.bind="folder"></item-control>
                    <badges missing.bind="folder.status.missing" containerless></badges>
                </div>
            </div>
        </a>
        <ul style="padding-left: 15px" if.bind="folder.folders.length > 0" class="uk-nav-default"
            uk-nav="multiple: true">
            <folders data.bind="data" folders.bind="folder.folders" selected-namespace.two-way="selectedNamespace">
            </folders>
        </ul>
        <namespaces else data.bind="data" namespace.bind="folder.namespace"
            selected-namespace.two-way="selectedNamespace">
        </namespaces>
    </li>

</template>